Captura.PNG
result.txt
untitled0.py

/.vscode

/frontend/.vscode
/frontend/horarios/.vscode
/frontend/horarios/build
/frontend/horarios/node_modules

/ia_server/.vscode
/ia_server/node_modules
/ia_server/result.txt

/web_server/.vscode
/web_server/build
/web_server.node_modules