.forma {
  display: block;
  padding: 1em;
}
.forma label {
  font-size: 1.5em;
  margin: 0.2em;
  display: inline-block;
}
.forma button {
  font-size: 1em;
  margin: 0.5em;
  text-align: right;
}
.forma div {
  text-align: center;
}
.forma input {
  font-size: 1em;
  width: 80px;
  margin: 0.5em;
  display: inline-block;
  justify-content: center;
}

.pairSpan {
  padding: 30px;
  font-size: 1.5em;
  font-family: monospace;
  white-space: pre-line
}

.spanContainer {
  border: solid;
  margin-top: 30px;
}